# /etc/systemd/system/dbus-proxy.service
[Unit]
Description=D-Bus proxy for HA Bluetooth
After=bluetooth.service

[Service]
ExecStartPre=/bin/rm -f /mnt/ha_dbus_proxy.sock
ExecStart=/usr/bin/socat UNIX-LISTEN:/mnt/ha_dbus_proxy.sock,fork,reuseaddr,mode=0666 UNIX-CONNECT:/run/dbus/system_bus_socket
Restart=always

[Install]
WantedBy=multi-user.target
